@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kenzieflix {
    width: 229px;
    height: 68px;
    margin-top: 42px;
}

.frase {
    font-size: 32px;
    margin-top: 60px;
}
.perfis {
    width: 700px;
}

.perfil {
    display: flex;
    justify-content: center;
    width: 700px;
}

li {
    margin: 20px;
    width: 160px;
    margin-top: 80px;
}

.imagens img {
    transition: width 1.8s, height 1.8s;
    width: 160px;
    height: 160px;
}

.imagens:hover img{
    width: 200px;
    height: 200px;
    }

.imagem5 .branca {
    display: none;
    margin: 1.5px;
}

.imagem5:hover .branca {
    display: block;
}

.imagem5:hover .preta {
    display: none;
}

p {
    color: #9C9C9C;
    font-size: 14px;
    margin-top: 10px;
    }

.imagens figure{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    overflow: hidden;
}


.gerenciar {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    border: none;
    border: 1.5px solid white;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    width: 206px;
    height: 50px;
    background-color: black;
    color: white;
}

.gerenciar:hover {
    background-color: white;
    color: black;
}
